#stacked-area-chart {
  height: 100%;
  width: 100%;
}

#pie-chart {
  height: 100%;
  width: 100%;
}

#pieTooltip {
  position: absolute;
  text-align: center;
  font: 12px sans-serif;
  /*  pointer-events: none;	This line needs to be removed */
}
#pieTooltip h3,h4 {
  text-align: left;
}
#pieTooltip h4 {
  font: 14px sans-serif;
}

#rackCharts {
  background-image: url("/Users/eshikasaxena/Documents/CS171/CS171FinalProject/website/img/shelf.png");
}

.connection {
  stroke: black;
  stroke-dasharray: 5;
  stroke-width: 3px;
  opacity: 0.7;
}

/*.row {*/
/*  height: 15vh;*/
/*}*/

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  text-align: center;
}

h1 {
  font-weight: 100;
  margin-top: 50px;
}

h2 {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 40px;
}

.container-fluid {
	padding-right: 30px;
	padding-left: 30px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.browser text {
  text-anchor: end;
}

.area {
  clip-path: url(#clip);
}
.area:hover {
  opacity: 1;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}



body {
  min-height: 100%;
  text-align: center;
  margin: auto;
}

* {
  font-family: 'Poppins', sans-serif;
}

#root {
  text-align: center;
  margin: auto;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: -30px;
  left: 13.5%;
  height: 42.5%;
  width: 85%;
}

.tooltip {
  font-size: 12pt;
  background-color: white;
}

.axis path, .axis line {
  fill: None;
  stroke: black;
  shape-rendering: crispEdges;
}

select {
  display: block;
  margin: auto;
}
.axis text {
  font-size: 14px;
}

.info {
  margin-bottom: 0;
  font-size: 10pt;
  display: inline-block;
  width: 50%
}
.tooltip p {
  padding: 0;
  margin: 0;
}

button {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  background: none;
  border-radius: 8px;
  box-shadow: none;
  text-shadow: none;
}

body {
  background-image: url('../img/courtbackground.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1.title, h3.title {
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px #000000;
}

section {
  height: 100%;
}

div.content-box {
  margin: 5%;
  /*width: 0%;*/
  /*height: 70%;*/
  border-radius: 5%;
  padding: 5%;
  background-color: rgba(256, 256, 256, .8);
}

.active-filter {
    background: lightblue;
}

#sircharles {
  width: 600px;
  height: 400px;
  padding-top: 30px;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: white;
}

.bar-x-axis {
  font-size: 12px;
}

#playerdetail {
  border-radius: 10px;
  border: thin solid grey;
  background-color: rgba(256, 256, 256, .8);
  padding: 5px;
  text-align: center;
}

#playername {
  font-weight: bold;
}

#profiles {
  height: 50%;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#playerSelectButtons {
  position: absolute;
  right: 700px;
  padding: 10px;
  width: 50%
}

.sectiontitle {
  font-size: 24px;
  font-weight: bold;
}

#positionSelectButtons {
  position: absolute;
  right: 825px;
  padding: 10px;
  width: 35%
}